{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "window": true,
        "google": true
    },
    "plugins": [
        "import",
        "react",
        "jsx-a11y",
        "babel",
        "html"
    ],
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": {
                    "resolve": {
                        "extensions": [
                            ".jsx",
                            ".js",
                            ".json"
                        ],
                        "modules": [
                            "./node_modules",
                            "./public",
                            "./src"
                        ]
                    }
                }
            }
        }
    },
    "rules": {
        "arrow-parens": "off",
        "comma-dangle": ["error", "only-multiline"],
        "function-paren-newline": "off",
        "generator-star-spacing": "off",
        "implicit-arrow-linebreak": "off",
        "import/no-extraneous-dependencies": "off",
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "jsx-a11y/label-has-associated-control": [ 2, {
            "controlComponents": ["Field"]
        }],
        "jsx-a11y/label-has-for": "off",
        "linebreak-style": "off",
        "max-len": ["error", 100],
        "no-return-assign": "off",
        "object-curly-newline": "off",
        "object-property-newline": "off",
        "operator-linebreak": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": ["error", 2],
        "react/jsx-wrap-multilines": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-filename-extension": ["off", {
            "extensions": [".js", ".jsx"]
        }],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }]
    }
}
